body{
    background-color: aliceblue;
}

fieldset{   
     background-color:rgb(255, 255, 255); ;
     padding: 2% ;
     padding-top: 2%;
     margin: 5% 25%;
     border: 2% solid rgb(56, 55, 55);
}
li{
     text-align : center;
     display: inline-block;
}
li:hover{
     background-color:white;
 }
form{
     font-size: 30px;
     font-weight: bold;
     color: rgb(15, 36, 226);
}
 
 ul{
     list-style-type: none;
     margin: 0;
     padding :0;
     font-size: 50px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
 }
 .button{
     border: 5px solid black;
     border-radius: 10px;
     text-align: center;
     padding: 2%;
     margin-left: 30%;
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     color: white;
     background-color:rgb(117, 45, 183) ;
 }
 .button:hover{
     background-color: rgb(84, 6, 230);
 }

input{
    background-color: rgb(58, 58, 61);
    color: rgb(69, 132, 201);   
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

a{
    text-decoration: none;
    color: rgb(255, 174, 0);
}
#page{
    color: rgb(106, 46, 180);
}
#exit{
    position: absolute;
    background-color: black;
    top: 110px;
    right: 550px;
    width: 1px;
    height: 1px;
}
